* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #40346d;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid__item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.grid__item--shrink {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.grid__item--grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo {
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 320px;
  display: block;
}

.shopping-list {
  margin-top: 1em;
}

.shopping-list__item {
  border: 2px solid #adbfe6;
  padding: 0.5em;
  margin: 0.5em;
  background: #e0e5ff;
  width: 600px;
}

.shopping-list__item__image {
  width: 120px;
  height: 120px;
  margin-right: 15px;
}

.shopping-list__item__image .image {
  width: 100%;
  display: block;
}

.shopping-list__item__name {
  color: #052d4e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.shopping-list__item__description {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  font-style: italic;
  margin-right: 10px;
}

.shopping-list__item__price {
  margin-bottom: 10px;
  text-align: center;
}

.shopping-list__item__price .price {
  color: #052d4e;
  font-size: 30px;
  font-weight: bold;
}

.cart {
  margin-top: 1em;
  font-size: 12px;
  text-align: center;
}

.cart__item {
  color: #052d4e;
  background-color: #ddd8d8;
  outline: 1px solid #052d4e;
  outline-offset: -10px;
  margin: 1em auto 1em 1em;
  padding: 1.5em;
  width: 600px;
}

.cart__item__image {
  width: 110px;
  height: 110px;
  margin-right: 15px;
}

.cart__item__image .image {
  width: 100%;
  display: block;
}

.cart__item__title {
  font-size: 16px;
}

.cart__item__name {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.cart__item__description {
  font-size: 15px;
  font-style: italic;
  margin: 0.2em auto 0.6em;
}

.cart__item__price {
  margin-bottom: 10px;
  text-align: center;
}

.cart__item__price .price {
  color: #052d4e;
  font-size: 25px;
  font-weight: bold;
}

.control {
  background-color: aliceblue;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 40px 20px 40px 30px;
}

.control__title {
  font-size: 20px;
  color: #052d4e;
}

.control__count, .control__total {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #052d4e;
}

.control__total {
  margin-bottom: 25px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 1.2em;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn--add {
  background: #803366;
  padding: 0.7em 2.5em;
}

.btn--add:hover {
  background: #052d4e;
}

.btn--remove {
  background-color: #a21313;
}

.btn--remove:hover {
  background-color: #420000;
}

.btn--switch {
  display: block;
  background-color: #c70032;
  width: 100%;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
}

.btn--switch:hover {
  background-color: #7c001f;
}

.btn--checkout {
  display: block;
  background-color: #046d45;
  width: 100%;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

.btn--checkout:hover {
  background-color: #03422a;
}
